@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&display=swap');

:root {
  font-family: 'Bree Serif', serif;
  font-size: clamp(1rem, 0.6250rem + 1.6667vw, 1.5rem);
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ********* RESET ********* */

body {
  display: block;
  margin: 0;
  min-height: 100vh;
  background: #B3FFAB;
  background: -webkit-linear-gradient(to bottom, #B3FFAB, #12FFF7);
  background: linear-gradient(to bottom, #B3FFAB, #12FFF7);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ********* TYPOGRAPHY ********* */

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(45deg, #42B7A8, #2C9098, #2E6B7C, #2F4858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(.2rem .2rem .25rem #42B7A8);
}

.info,
label {
  font-size: clamp(1rem, 0.4375rem + 2.5000vw, 1.75rem);
}

label,
li,
.info {
  color: #2F4858;
}

li {
  width: fit-content;
  margin-inline: auto;
  padding: .5rem .9rem;
  background-color: #B3FFAB; 
  border-radius: .25em;
  box-shadow: .1rem .15rem .25rem #42B7A899;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

/* ********* LAYOUT ********* */
.block {
  display: block;
  margin-bottom: 2.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75em;
}

.todolist {
  margin: 0 0 .5rem 0;
}

/* ********* COMPONENTS ********* */

input[type="text"], 
button {
  border-radius: .25em;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

input[type="text"] {
  background-color: #42B7A8;
  min-width: 40ch;
}

label { 
  padding: .6rem 1.2rem;
}

input[type="checkbox"] {
  margin-right: 1em;
  background-color: #2C9098;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:checked {
  background-color: #B3FFAB;
}

button {
  background-color: #2C9098;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background: linear-gradient(45deg, #42B7A8, #2C9098, #2E6B7C, #2F4858, #2E6B7C, #2C9098, #42B7A8);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input:focus,
button:focus {
  box-shadow: .2rem .2rem .5rem #42B7A8;
  outline: .1em solid #B3FFAB;
}



